# convert RigKontrol3 Input Events to MIDI
SUBSYSTEMS=="usb", ATTRS{idVendor}=="17cc", ATTRS{idProduct}=="1940", ACTION=="add", GROUP="audio", SUBSYSTEM=="input", ENV{DEVNAME}=="/dev/input/event?", ENV{SYSTEMD_WANTS}="rigkontrol3@%E{DEVNAME}.service", TAG+="systemd"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="17cc", ATTRS{idProduct}=="1940", ACTION=="remove", GROUP="audio", SUBSYSTEM=="input", ENV{DEVNAME}=="/dev/input/event?", RUN+="/usr/bin/systemctl stop rigkontrol3@%E{DEVNAME}.service"
